
html {
    background-image: url("../images/background2.jpg");
    background-repeat: repeat;
    overflow-y: scroll;
}

/* Title and Navbar */
.intro {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: auto;
}

.intro img {
    max-width: 80px;
    height: auto;
    width: 10%;
}

.intro span {
    font-size: calc(2vw + 2vh);
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    text-shadow: 5px 5px 5px #000;
    margin-left: 2%;
    margin-right: 2%;
    height: 80px;
    line-height: 80px;
    vertical-align: top;
}

.navbar nav {
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.navbar ul {
    display: inline-block;
    padding:0;
    margin:0;
}

.navbar li {
    list-style-type: none;
    display: inline-block;
    margin: 10px;
    width: 300px;
    border-radius: 20px;
    background-color: #31962d;
    border: white solid 3px;
}

.navbar a {
    font-size: 20px;
    font-family: 'Lobster';
    color: #fff;
    background-color: #31962d;
    padding: 10px;
    border-radius: 20px;
    display: block;
}

.navbar .return {
    background-color: white;
    border-color: black;
    color: black;
}

.navbar a:hover {
    background-color:#4ade45;
}

.navbar .return:hover {
    background-color:grey;
}

/* Footer for all pages */
footer {
    text-align: center;
    margin: auto auto;
    background-color: rgba(255, 255, 255, 70%);
    line-height: 100%;
    width: fit-content;
    border-radius: 25px;
    font-size: 15px;
    font-family: 'Lobster';
    padding: 1px 30px 1px 30px;
    margin-bottom: 10px;
  }
  
  footer a {
      background-color: rgba(255, 255, 255, 0%);
      color: #000;
      display: inline;
      padding: 3px;
      font-size: 15px;
  }
  
  footer a:hover {
      background-color: cyan;
      border-radius: 20px;
  }

/* Announcements Page */
.announcement {
    display: block;
    background-color: #31962d;
    margin: 20px auto;
    width: 75%;
    border-radius: 10px;
    padding: 1%;
    border: white solid 3px;
}

.announcement h1, .announcement h3, .announcement p, .announcement a {
    text-align: center;
    margin: 1%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.announcement h1 {
    font-size: 1.7em;
    color:#e8ed61;
}

/* Class Documents Page */
.docs {
    display: flex;
    margin: 20px auto;
    width: 90%;
    border-radius: 50px;
    padding: 1%;
}

.lessons, .code {
    flex: 1;
    padding: 1rem;
    vertical-align: middle;
    text-align: center;
    border-radius: 10px;
    height: fit-content;
}

#title {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 1.8em;
    
}

.lessons {
    background-color: #77b344;
    margin-right: 15px;
}

.code {
    background-color: #44b376;
}

.document  {
    border: black solid 2px;
    padding: 5%;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 20px;
    margin: 2%;
}

.document li {
    text-align: left;
}

.lessons .document {
    background-color: #afdb8a;
}

.code .document  {
    background-color: #96ebbc;
}

.document button {
  font-family: "Open Sans", sans-serif;
  font-size: calc(0.6vw + 0.6vh);
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 80%;
  background-color: #31962d;
}

.document button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .document button{
    padding: 0.25em 0.75em;
  }
}

/* Calendar Page */
.calendar {
	display: block;
	font-family: "Poppins", serif;
	background: radial-gradient(
		circle,
		#77b344 0%,
		#44b376 100%
	);
    border-radius: 30px;
    padding: 3%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.calendar iframe {
    border-radius: 10px;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow: scroll;
}

.summaryDates {
    text-align: center;
    border-radius: 20px;
    color: #fff;
}

.summaryDates h1 {
    font-size: 300%;
}

.upcoming {
    border: 3px solid black;
    border-radius: 20px;
    margin-bottom: 2%;
    color: #000;
    font-size: 1.2em;
    padding: 2%;
    background-color: #86f7b9;
}

.upcoming h1 {
    font-size: 200%;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 5px;
    color: #909423;
}

#urgent h1 {
    color:#f54747;
}
