
html {
    background-image: url("images/background1.jpg");
    background-repeat: repeat;
    background-size: contain;
    overflow-y: scroll;
}

/* Title and Navbar */
.intro {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: auto;
}

.intro img {
    max-width: 80px;
    height: auto;
    width: 10%;
}

.intro span {
    font-size: calc(2vw + 2vh);
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    text-shadow: 5px 5px 5px #000;
    margin-left: 2%;
    margin-right: 2%;
    height: 80px;
    line-height: 80px;
    vertical-align: top;
}

.navbar nav {
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.navbar ul {
    display: inline-block;
    padding:0;
    margin:0;
}

.navbar li {
    list-style-type: none;
    display: inline-block;
    margin: 10px;
    width: 80%;
    border-radius: 20px;
    background-color: black;
    border: white solid 3px;
}

.navbar a {
    font-size: 40px;
    font-family: 'Lobster';
    color: #fff;
    background-color: black;
    padding: 4em;
    border-radius: 20px;
    display: block;
}

.navbar a:hover {
    background-color:grey;
}

img {
    background-color: white;
    padding: 6px;
    border-radius: 10px;
}